body {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin: 0;
}

.ap {
    color: brown;
}

.my-hurt {
    display: flex;
}

.our {
    padding: 5%;
}

.sadia {
    text-decoration: none;
    background-image: linear-gradient(red, brown);
    color: rgb(15, 68, 114);
    border-radius: 20px;
    font-weight: 700;

}

.my-border {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px
}

.new {
    margin: 0;
}

.happy {
    margin-left: 20px;
}

.my-border {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.my-baby {
    margin-left: 20px;
}