body {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin: 0;
}

.ap {
    color: brown;
}

.my-hurt {
    display: flex;

}

.our {
    padding: 5%;
}

.sadia {
    text-decoration: none;
    background-image: linear-gradient(red, brown);
    color: rgb(15, 68, 114);
    border-radius: 20px;
    font-weight: 700;

}

.my-border {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px
}

.new {
    margin: 0;
}

.happy {
    margin-left: 20px;
    box-shadow: 5px 10px 10px red;
}

.my-border {
    background-image: url(images/);
    background-repeat: no-repeat;
    background-position: right;
}

.my-baby {
    margin-left: 20px;
}

.my-dad {
    box-shadow: 5px 10px 40px rgb(199, 12, 12);
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.daddy {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.sir {
    color: blue;
}